
    body{
      background-color: #242B2E;
    }
    main{
      height: 95vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      border: 5px solid #fff;
      border-radius: 100%;
    }
    img[alt='1']{
      z-index: 4;
    }
    img[alt='2']{
      position: relative;
      left: -50px;
      z-index:3 ;
    }
    img[alt='3']{
      position: relative;
      left: -85px;
      z-index: 2;
    }
    img[alt='4']{
      position: relative;
      left: -125px;
    }
